<div class="flex flex-col gap-2 p-6">
  <div class="grid grid-cols-4 gap-2 p-2 border-b-2 border-slate-500">
    <% @order_lines.each do |order_line| %>
      <div class="flex flex-col p-2 gap-2 text-lg border-2 border-slate-300 items-center">
        <p class="text-2xl"><%= order_line.product.name.capitalize %></p>
        <p>Cost: $ <%= number_with_precision(order_line.product.price, precision: 2) %></p>
        <p>Subtotal: $ <%= number_with_precision(order_line.total, precision: 2) %></p>

        <% if policy(order_line).update? %>
          <%= form_with model: order_line do |form| %>
            <%= form.hidden_field :product_id, value: order_line.product.id %>
            <%= form.label :quantity %>
            <%= form.number_field :quantity, value: order_line.quantity, required: true %>
            <%= form.submit "Update" %>
          <% end %>

          <%= button_to "Delete item", order_line_path(order_line), method: :delete %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="flex flex-col gap-4 text-4xl self-end">
    <div>
      <p>Total: </p>
      <p>$ <%= number_with_precision(current_order.total, precision: 2) || 0.00%></p>
    </div>
    <div>
      <% if @order.id.nil? || @order.order_lines.empty? %>
        <p>Add Products to buy</p>
      <% elsif current_user&.admin?%>
        <p>Admin can't buy</p>
      <% else %>
        <%= button_to "Send Order", current_user&.customer? ? order_path(@order) : "", method: :patch, html: {class: "p-2 border-2 border-cyan-500"} %>
      <% end %>
    </div>
  </div>
</div>
