<div class="flex flex-col justify-center">
  <%= render partial: "filter_bar" %>

  <div class="grid grid-cols-4 gap-2 p-2">
    <% if @products.empty? %>
      <p class="text-4xl text-red-500">No Records Found</p>
    <% else %>
      <% @products.each do |product| %>
        <%= render partial: "product_cart", locals: { product: product, order_line: @order_line }%>
      <% end %>
    <% end %>

    <% if policy(@products).create? %>
      <button class="flex flex-col p-2 gap-2 border-2 border-slate-300 justify-center items-center text-2xl">
        <%= link_to "New Product", new_product_path %>
      </button>
    <% end %>

    <% if current_user&.admin? %>
      <button class="flex flex-col p-2 gap-2 border-2 border-slate-300 justify-center items-center text-2xl">
        <%= link_to "See logs", logs_path %>
      </button>
    <% end %>

    <% if !current_user.nil? %>
      <button class="flex flex-col p-2 gap-2 border-2 border-slate-300 justify-center items-center text-2xl">
        <%= link_to "See Transactions", transactions_path %>
      </button>
    <% end %>
  </div>
</div>

