<h1>Products</h1>

<%= form_tag(products_path, method: :get) do %>
  <%= label_tag :term %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag "Search" %>
<% end %>

<% @products.each do |product| %>
  <p><%=product.name %></p>
<% end %>