<h1>Products</h1>

<%= form_tag(products_path, method: :get) do %>
  <%= label_tag :term %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag "Search" %>
<% end %>

<% @products.each do |product| %>
  <p><%=product.name %></p>
  <% if current_user %>
    <% if product.liked_by? current_user %>
      <%= button_to "Dislike?", product_like_path(product, product.find_like(current_user)), method: :delete %>
    <% else %>
      <%= button_to "Like?", product_likes_path(product), method: :post %>
    <% end %>
  <% end %>
  
<% end %>