<h1>Products</h1>

<%= form_with model: @product, method: :get do |form| %>
  <%= form.label :term %>
  <%= form.text_field :term %>
  <%= form.submit "Search" %>
<% end %>

<% @products.each do |product| %>
  <p><%=product.name %></p>
  <% if current_user %>
    <% if product.liked_by? current_user %>
      <%= button_to "Dislike?", product_like_path(product, product.find_like(current_user)), method: :delete %>
    <% else %>
      <%= button_to "Like?", product_likes_path(product), method: :post %>
    <% end %>
  <% end %>
  
<% end %>

<%= link_to "New Product", new_product_path %>
