<h1>Products</h1>

<%= form_with model: @product, method: :get do |form| %>
  <%= form.label :term %>
  <%= form.text_field :term %>
  <%= form.submit "Search" %>
<% end %>

<% @products.each do |product| %>
  <p><%=product.name %></p>
  <p><%=product.price %></p>
  <p><%=product.stock %></p>
  <% if current_user %>
    <% if product.liked_by? current_user %>
      <%= button_to "Dislike?", product_like_path(product, product.find_like(current_user)), method: :delete %>
    <% else %>
      <%= button_to "Like?", product_likes_path(product), method: :post %>
    <% end %>
  <% end %>
  <%= link_to "Edit product", edit_product_path(product) %>
  <%= form_with model: @order_line do |form| %>
    <%= form.hidden_field :product_id, :value => product.id %>
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
    <%= form.submit "Add to Cart" %>
  <% end %>
<% end %>

<%= link_to "New Product", new_product_path %>
