<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col gap-6">
    <header class="flex justify-around items-center p-3">
      <h1 class="text-7xl"><%= link_to "SNACK STORE", root_path %></h1>
      <ul>
        <% if user_signed_in? %>
          <li><p>Welcome <%= current_user.first_name %></p></li>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><p class="critics-navbar__message">Sign in to buy products</p></li>
        <% end %>
      </ul>
      <p>
        <% if current_page? cart_path%>
          <h2 class="text-3xl"><%= link_to "Back", :root %></h2>
        <% else %>
          <h2 class="text-3xl"><%= link_to "See Cart", cart_path %></h2>
        <% end %>
      </p>
      <p>
        <% if current_user&.customer? %>
          <h2 class="text-3xl"><%= link_to "See Orders", orders_path %></h2>
        <% else %>
          <h2>Log in to see your orders</h2>
        <% end %>
      </p>
    </header>
    <main>
      <p class="text-4xl text-red-500"><%= flash[:warning] %></p>
      <p class="text-red-500"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
